@model Demo01WebApp.Models.Order

@{
    ViewData["Title"] = "DisplayOrder";
}

<h2>DisplayOrder</h2>


<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        @if ((bool)ViewData["DisplayId"] == true)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
